
<div class="container" style="margin: 1rem;" >
    <div class="row justify-content-between align-items-center">
        <div class="col-sm">
            <button class="btn btn-outline-danger">Back</button>
        </div>
        <div class="col-sm">
            <span>@Student.FirstName</span>&nbsp;<span>@Student.LastName</span> -- <span>@Student.Status</span>
        </div>
        <div class="col-sm">
            <button class="btn btn-outline-success">Forward</button>
        </div>
    </div>
    
</div>


@functions {
    [Parameter]
    private Student Student { get; set; }

    [Parameter]
    private bool Disabled { get; set; }
}



